.search-section {
    transition: max-height 2s ease;
}

.icon {
    width: 30px;
    margin: 4px;
    border-radius: 0.5rem;
}

.small-icon {
    width: 20px;
    margin: 4px;
    border-radius: 0.5rem;
}

.mt-6 {
    margin-top: -4px;
}

.company-row {
    display: flex;
    align-items: center;
}